.container {
  height: 100%;
  background: rgb(128, 128, 128);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 30rem;
  margin: auto;
  background-color: rgb(243, 231, 231);
  padding: 4rem 1rem;
  border-radius: 1rem;
}

h1 {
  width: 100%;
  text-align: center;
}

img {
  height: 15rem;
  width: 100%;
  margin: 1.5rem auto 1.5rem auto;
}

.full-width {
  width: 100%;
}

button {
  margin-top: 1.5rem;
  background: rgb(233, 143, 60);
}

mat-icon {
  opacity: 0.6;
}
