.container {
  width: 90%;
  margin: auto;
  padding-top: 1rem;
}

table {
  width: 100%;
}

mat-form-field {
  width: 100%;
  padding-top: 1rem;
}

button {
  width: fit-content;
}

h1 {
  margin: 0;
}

.edit {
  color: rgb(0, 153, 255);
}

.delete {
  color: red;
}
