<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <img
      src="../../../assets/Ideia_páginas_four_fit__2_-removebg-preview.png"
      alt="Imagem de navegação"
    />
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="home">
        <i class="material-icons">home</i>
        <span>Início</span>
      </a>
      <a mat-list-item routerLink="alunos">
        <i class="material-icons">account_circle</i>
        <span>Alunos</span>
      </a>
      <a mat-list-item routerLink="instrutores">
        <i class="material-icons">person</i>
        <span>Instrutores</span>
      </a>
      <a mat-list-item routerLink="matriculas">
        <i class="material-icons">subtitles</i>
        <span>Matrículas</span>
      </a>
      <a mat-list-item routerLink="financeiro">
        <i class="material-icons">monetization_on</i>
        <span>Financeiro</span>
      </a>
      <a mat-list-item>
        <i class="material-icons">logout</i>
        <span>Sair</span>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <app-header (menu)="drawer.toggle()"></app-header>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
